body {
background-color: #484452;
color: #81C3FF;
font-family: san-serif;
}
 
nav a{
  text-decoration: none;
  color: #7DD7E0;
  background-color: #3581E0;
  border-radius: 4px;
  transition: 1s all;
} 

nav a hover{
  background-color: #9EC6ED;
}
 
h2 {
  color: #FF8986;
}
