body {
color: #81C3FF;
font-family: san-serif;
}
 
nav a{
  text-decoration: none;
  color: #7DD7E0;
  background-color: #3581E0;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  transition: 1s all;
} 

nav a:hover {
  background-color: #9EC6ED;
}

header{
 text-align: center;
}

header img{
 border-radius: 50%;
}
 
h2{
  color: #FF8986;
}
